footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    background-color: #17191f;
}
footer h2 a{
    opacity: 1;
}
footer ul{
    display: flex;
    gap: 1rem;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    width: 100%;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-image: url('../../assets/github.png');
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: rgb(59, 59, 59);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  
  .wrapper .facebook:hover .tooltip::before {
    background-image: url('../../assets/logo.png');
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  
  .wrapper .twitter:hover .tooltip::before {
    background-image: url('../../assets/logo.png');
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  
  .wrapper .instagram:hover .tooltip::before {
    background-image: url('../../assets/logo.png');
    color: #fff;
  }
  
  