*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    -webkit-font-smoothing: antialiased;
  }
  
  ::-webkit-scrollbar {
    width: 7px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.1);;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 6px inset;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 3px;
    background-color: rgba(10, 1, 1, 0.55);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px inset;
  }
  ::-webkit-scrollbar-track {
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px inset;
    border-radius: 15px;
  }
  
  
  .container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
  }
  .container h1{
    margin: 2rem;
    font-weight: bold;
    font-size: 36px;
  }
  .box-cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; */
  
  }
  h5{
    font-size:1.4em;
    font-weight:700;
  }
  
  
  .property-card{
    width: 250px;
    height: 400px;
    display:flex;
    flex-direction:column;
    position:relative;
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    margin: 18px;
    overflow:hidden;
    box-shadow: rgb(0 0 0 / 48%) 5px 5px 15px 0px;
  }
  .property-card img{
    height:100%;
    width:100%;
    transition:all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    object-fit: cover;
  }
  .property-description{
    height: 0em;
    width: 100%;
    position:absolute;
    bottom: 0em;
    transition:all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0em 1em;
    cursor: pointer;
    color: #FAFAFC;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 15%);
  }
  .description{
    width: 220px;
    height: 120px;
    overflow: auto;
    font-size: 16px;
    margin: 1rem .3rem 1rem 0rem;
  }
  
  .property-card:hover .property-description{
    height: 20em;
    padding: 2em 1em;
  }
  .property-card:hover .property-image{
    height:6em; 
  }
  
  
  .description::-webkit-scrollbar {
    width: 7px;
    height: 3px;
    background-color: rgb(0 0 0 / 50%);
  }
  .description::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 3px;
    background-color: rgba(193, 117, 255, 0.200);
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 6px inset;
  }
  ::-webkit-scrollbar-track {
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px inset;
    border-radius: 15px;
  }
  
  
  /* CSS do button delete */
  
  .box-config{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-delete, .btn-link {
    min-width: 90px;
    min-height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    margin-right: 1rem;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 1s ease;
    border: none;
    background: #3a6186;
    opacity: 1;
  }
  
  .btn-delete:hover, .btn-link:hover  {
    background: #243b55;
    transition-duration: 0.5s;
    border: 1px solid rgb(193, 117, 255);
    /* background: rgb(73, 5, 5);
    color: #d90429 */
  }